<template>
    <div v-show="this.isActive" role="tab">
        <table v-if="table" class="table is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th v-for="head in this.thead" :key="head">{{ head }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(body, index) in this.tbody" :key="`body-${index}`">
                    <td v-for="(td, index) in body" :key="`td-${index}`">{{ td }}</td>
                </tr>
            </tbody>
        </table>
        <div v-else class="columns has-text-centered">
            <div v-for="pie in pies" :key="pie.label" class="column is-one-third">
                <h2 class="is-size-3">{{ pie.label }}</h2>
                <div class="pie-container">
                    <vue-chart type="pie" :data="pie" :config="pieConfig"></vue-chart>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import VueChart from 'vuechart';

const axios = require('axios');

export default {
    components: {
        'vue-chart': VueChart
    },

    props: {
        name:     { required: true },
        table:    { default: true },
        selected: { default: false },
        thead:    { default: function() { return []; } },
        tbody:    { default: function() { return []; } }
    },

    data() {
        return {
            isActive:    false,
            pies:        {},
            pieConfig:   {
                animation: {
                    animateScale: true
                }
            }
        };
    },

    computed: {
        slug() {
            return '#' + this.name.toLowerCase().replace(/ /g, '-');
        }
    },

    created() {
        if (location.hash) {
            this.isActive = (this.slug === location.hash);
        } else if (this.selected) {
            this.isActive = true;
            location.hash = this.slug;
        }
        Event.$on('selectTab', selectedTab => {
            this.isActive = (this.name === selectedTab.name);
        });
    },

    mounted() {
        // Pie charts
        if (!this.table && Object.keys(this.pies).length === 0) {
            let dynamicColors = () => {
                var r = Math.floor(Math.random() * 255);
                var g = Math.floor(Math.random() * 255);
                var b = Math.floor(Math.random() * 255);
                return "rgb(" + r + "," + g + "," + b + ")";
            };
            axios.get('data.json', { responseType: 'json' }).
                then(response => {
                    Object.keys(response.data).forEach(t => {
                        response.data[t].datasets[0].backgroundColor = [];
                        response.data[t].datasets[0].data.forEach(() => {
                            response.data[t].datasets[0].backgroundColor.push(dynamicColors());
                        })
                    });
                    this.pies = response.data;
                }).
                catch(error => alert(error));
        }
    }
}
</script>

<style lang="sass">
@mixin pc($height)
    position: relative
    height: 100%
    width: 100%
    min-height: $height

@media screen and (max-width: 394px)
    .pie-container
        @include pc(140px)

@media screen and (min-width: 395px)
    .pie-container
        @include pc(165px)

@media screen and (min-width: 446px)
    .pie-container
        @include pc(200px)

@media screen and (min-width: 491px)
    .pie-container
        @include pc(250px)

@media screen and (min-width: 591px)
    .pie-container
        @include pc(300px)

@media screen and (min-width: 701px)
    .pie-container
        @include pc(350px)
</style>
